@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrar";
}

<h2>@ViewData["Title"]</h2>
<h4>Associar sua conta @Model.LoginProvider .</h4>

<p class="text-info">
    Voc&ecirc; se autenticou com sucesso no <strong>@Model.LoginProvider</strong>.
    Clique no bot&atilde;o <strong>Registrar</strong> para concluir o login.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" readonly="readonly" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary create"><i class="glyphicon glyphicon-pencil"></i> Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

