@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@Html.Raw(TempData["msgLogin"])
<h2>ENTRAR</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Senha" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-success"><i class="glyphicon glyphicon-log-in"></i> Entrar</button>
                    <button type="button" class="btn btn-primary create"><i class="glyphicon glyphicon-pencil"></i> Registrar</button>
                </div>
            </form>
            <div class="form-group">
                <p>
                    <a asp-page="./ForgotPassword">Esqueci minha senha?</a>
                </p>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            N&atilde;o h&aacute; servidores de autentica&ccedil;&atilde;o externa configurados.
                            <!--See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
    for details on setting up this ASP.NET application to support logging in via external services.-->
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <label>Entrar Com: </label>
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Entrar usando o seu @provider.DisplayName account">
                                        <svg height="16" width="16" viewBox="0 0 533.5 544.3" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z" fill="#4285f4" />
                                            <path d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z" fill="#34a853" />
                                            <path d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z" fill="#fbbc04" />
                                            <path d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z" fill="#ea4335" />
                                        </svg>       
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

<div id="modal" class="modal fade" role="dialog" />

@section Scripts {
    <script>
        $(function () {
            $(".create").click(function () {
                $("#modal").load("Register", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}
