@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Troca de Senha";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi alterada com sucesso. Por favor <a asp-page="./Login">clique aqui para acessar</a>.
</p>
