@model SistemaControleEmpresarial.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}

<h2>Meu Perfil</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFuncionario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label"></label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-control">
                    <option value=""></option>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" onkeypress="MascaraCPF(this);" onblur="MascaraCPF(this);" class="control-label"></label>
                <input asp-for="CPF" onkeypress="MascaraCPF(this);" onblur="MascaraCPF(this);" class="form-control" />
                <span asp-validation-for="CPF" onkeypress="MascaraCPF(this);" onblur="MascaraCPF(this);" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" onkeypress="MascaraTelefone(this);" onblur="MascaraTelefone(this);" class="control-label"></label>
                <input asp-for="Telefone" onkeypress="MascaraTelefone(this);" onblur="MascaraTelefone(this);" class="form-control" />
                <span asp-validation-for="Telefone" onkeypress="MascaraTelefone(this);" onblur="MascaraTelefone(this);" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" value="Voltar" class="btn btn-warning" data-dismiss="modal" onclick="voltarPagina()"><i class="glyphicon glyphicon-step-backward"></i> Voltar</button>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
