@model SistemaControleEmpresarial.Models.AjustePontoEletronico

@{
    ViewData["Title"] = "SolicitarAjustePontoEletrônico";
}

<h2>Criar</h2>


<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Solicitar Ajuste Ponto Eletrônico</h4>
            </div>
            <form asp-action="Create">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DataAjuste" class="control-label"></label>
                        <input asp-for="DataAjuste" class="form-control" />
                        <span asp-validation-for="DataAjuste" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoraPrimeiraEntrada" class="control-label"></label>
                        <input asp-for="HoraPrimeiraEntrada" class="form-control" />
                        <span asp-validation-for="HoraPrimeiraEntrada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoraPrimeiraSaida" class="control-label"></label>
                        <input asp-for="HoraPrimeiraSaida" class="form-control" />
                        <span asp-validation-for="HoraPrimeiraSaida" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoraSegundaEntrada" class="control-label"></label>
                        <input asp-for="HoraSegundaEntrada" class="form-control" />
                        <span asp-validation-for="HoraSegundaEntrada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoraSegundaSaida" class="control-label"></label>
                        <input asp-for="HoraSegundaSaida" class="form-control" />
                        <span asp-validation-for="HoraSegundaSaida" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Justificativa" class="control-label"></label>
                        <textarea asp-for="Justificativa" class="form-control" />
                        <span asp-validation-for="Justificativa" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" value="Cancelar" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-floppy-remove"></i> Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-hand-up"></i> Criar</button>
                    </div>
                </div>
            </form>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
