@{
    ViewData["Title"] = "Home Page";
}
<br /><br /><br /><br /><br /><br />
      <div>
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
               alt="Imagem de um ícone representando um usuário, com um livro nas mãos e uma lâmpada pouco acima da cabeça do usuário, representando ideias. Também está escrito o texto: SISTEMA DE CONTROLE EMPRESARIAL"
               viewBox="0 0 585.000000 177.000000"
               preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,177.000000) scale(0.100000,-0.100000)"
                 fill="#000000" stroke="none">
                  <path d="M0 885 l0 -885 2925 0 2925 0 0 885 0 885 -2925 0 -2925 0 0 -885z
m477 739 c82 -61 101 -168 44 -244 -11 -15 -24 -43 -29 -61 -5 -21 -16 -35
-27 -37 -16 -4 -17 1 -13 39 3 24 17 62 32 83 30 45 33 83 10 132 -46 97 -195
81 -223 -24 -12 -43 -6 -75 25 -122 13 -19 25 -51 26 -70 3 -29 0 -35 -17 -35
-13 0 -21 9 -26 30 -3 17 -18 50 -33 75 -71 122 14 267 152 257 32 -2 63 -11
79 -23z m439 -165 c36 -11 99 -73 113 -112 17 -45 13 -117 -10 -164 -71 -146
-281 -145 -354 1 -61 123 3 254 140 286 31 8 58 5 111 -11z m-451 -209 c0 -12
-16 -16 -74 -18 -73 -3 -100 6 -86 28 4 7 34 10 83 8 61 -2 77 -6 77 -18z
m-19 -51 c10 -16 -15 -29 -58 -29 -46 0 -68 8 -68 26 0 17 115 20 126 3z m-32
-45 c23 -9 1 -34 -29 -34 -28 0 -53 25 -33 33 19 8 44 8 62 1z m1486 -124 c0
-5 -16 -10 -35 -10 -24 0 -35 -5 -35 -15 0 -9 9 -15 24 -15 13 0 31 -3 40 -6
13 -5 16 1 16 25 0 24 4 31 19 31 22 0 28 -18 23 -72 -3 -29 -9 -38 -22 -38
-10 0 -20 6 -23 13 -4 10 -7 10 -18 0 -7 -7 -33 -13 -57 -13 -53 0 -54 23 -1
29 l34 4 -35 6 c-35 6 -48 26 -36 57 6 16 106 20 106 4z m180 0 c0 -5 -16 -10
-35 -10 -46 0 -49 -27 -2 -32 27 -2 32 -7 32 -28 0 -23 -4 -25 -52 -28 -61 -4
-72 13 -15 25 l37 7 -35 6 c-35 5 -48 25 -36 56 6 16 106 20 106 4z m260 1 c0
-6 -17 -11 -37 -13 -44 -3 -51 -22 -10 -26 15 -2 27 -8 27 -13 0 -5 -12 -10
-27 -10 -25 -1 -24 -3 10 -12 55 -16 45 -27 -23 -27 l-60 0 0 46 c0 41 -2 45
-22 42 -19 -2 -24 -10 -26 -45 -3 -35 -7 -43 -23 -43 -16 0 -19 7 -19 45 0 38
-3 45 -20 45 -11 0 -20 5 -20 10 0 6 48 10 125 10 71 0 125 -4 125 -9z m66
-12 l23 -21 13 21 c7 12 21 21 30 21 15 0 18 -9 18 -55 0 -42 -3 -55 -15 -55
-8 0 -15 8 -15 18 0 15 -8 18 -35 18 -26 -1 -35 -5 -35 -18 0 -11 -8 -18 -20
-18 -18 0 -20 7 -20 55 0 62 16 72 56 34z m209 -31 c22 -48 23 -53 8 -57 -10
-2 -19 2 -21 8 -5 15 -37 14 -62 -1 -31 -20 -35 -1 -10 52 31 67 53 67 85 -2z
m189 36 c21 -20 20 -53 -1 -76 -18 -20 -97 -26 -108 -7 -4 6 -4 30 0 55 l6 44
44 0 c26 0 50 -6 59 -16z m146 6 c0 -5 -16 -10 -35 -10 -24 0 -35 -5 -35 -15
0 -9 9 -15 25 -15 14 0 25 -4 25 -10 0 -5 -12 -10 -26 -10 -15 0 -23 -4 -19
-11 4 -5 18 -9 33 -7 14 2 27 -3 29 -9 3 -9 -11 -13 -50 -13 l-55 0 -4 38 c-6
68 -3 72 58 72 30 0 54 -4 54 -10z m170 0 c0 -5 -11 -10 -24 -10 -37 0 -56
-10 -56 -31 0 -20 28 -39 59 -39 12 0 21 -5 21 -11 0 -6 -19 -9 -47 -7 -39 2
-50 8 -62 29 -13 24 -13 29 2 53 15 22 25 26 62 26 25 0 45 -4 45 -10z m128
-2 c7 -7 12 -26 12 -43 0 -40 -16 -55 -58 -55 -51 0 -72 16 -72 53 0 18 5 38
12 45 16 16 90 16 106 0z m87 -8 c10 -11 22 -20 27 -20 4 0 8 9 8 20 0 19 7
20 139 20 99 0 141 -4 149 -12 5 -7 9 -32 9 -55 -2 -48 -23 -58 -45 -23 -7 11
-17 20 -22 20 -6 0 -10 -9 -10 -20 0 -13 -7 -20 -20 -20 -17 0 -20 7 -20 45 0
41 -2 45 -24 45 -22 0 -25 -5 -28 -42 -2 -31 -8 -44 -20 -46 -13 -3 -17 6 -20
40 -3 39 -6 43 -30 46 -27 3 -28 2 -28 -42 0 -55 -18 -61 -55 -18 l-24 27 -1
-27 c0 -21 -5 -28 -20 -28 -18 0 -20 7 -20 55 0 47 3 55 18 55 11 0 27 -9 37
-20z m472 -6 c15 -24 15 -29 2 -53 -11 -20 -23 -27 -56 -29 -46 -3 -73 16 -73
53 0 35 26 55 70 55 32 0 43 -5 57 -26z m63 -13 c0 -40 11 -51 51 -51 10 0 19
-4 19 -10 0 -5 -25 -10 -55 -10 l-55 0 0 55 c0 48 2 55 20 55 17 0 20 -7 20
-39z m200 29 c0 -5 -16 -10 -35 -10 -24 0 -35 -5 -35 -15 0 -9 9 -15 25 -15
14 0 25 -4 25 -10 0 -5 -12 -10 -26 -10 -14 0 -23 -4 -19 -10 3 -5 19 -10 36
-10 16 0 29 -4 29 -10 0 -9 -102 -15 -111 -6 -2 2 -2 27 -1 55 l4 51 54 0 c30
0 54 -4 54 -10z m170 0 c0 -5 -16 -10 -35 -10 -24 0 -35 -5 -35 -15 0 -10 10
-15 30 -15 41 0 38 -20 -2 -21 l-33 -1 38 -10 c54 -14 45 -28 -18 -28 l-55 0
0 55 0 55 55 0 c30 0 55 -4 55 -10z m68 -11 l13 -21 23 21 c40 38 56 28 56
-34 0 -48 -2 -55 -20 -55 -13 0 -20 7 -20 18 0 14 -8 18 -35 18 -27 0 -35 -4
-35 -18 0 -10 -7 -18 -15 -18 -12 0 -15 13 -15 55 0 46 3 55 18 55 9 0 23 -9
30 -21z m224 4 c17 -15 18 -15 18 0 0 14 10 17 49 17 58 0 69 -11 68 -67 -2
-48 -23 -58 -45 -23 -7 11 -17 20 -22 20 -6 0 -10 -9 -10 -20 0 -13 -7 -20
-20 -20 -15 0 -20 7 -20 26 0 14 -3 24 -7 22 -5 -2 -21 -10 -38 -17 -16 -7
-38 -17 -47 -22 -32 -16 -38 -9 -38 46 l0 55 47 0 c29 0 53 -6 65 -17z m268 7
c0 -5 -16 -10 -35 -10 -24 0 -35 -5 -35 -15 0 -9 9 -15 25 -15 34 0 32 -20 -2
-21 -25 0 -26 -1 -8 -9 25 -11 82 -12 115 -3 l25 7 -29 6 c-71 13 -54 70 20
70 51 0 60 -17 12 -22 -43 -4 -42 -20 0 -29 42 -9 49 -16 36 -37 -9 -14 -30
-17 -123 -19 l-111 -3 0 55 0 55 55 0 c30 0 55 -4 55 -10z m245 -42 c22 -48
23 -53 8 -57 -10 -2 -19 2 -21 8 -5 15 -37 14 -62 -1 -31 -20 -35 -1 -10 52
31 67 53 67 85 -2z m150 -5 c1 -59 -14 -69 -46 -30 l-19 22 -6 -23 c-4 -14
-13 -22 -23 -20 -12 2 -17 17 -19 56 l-3 53 58 -3 58 -3 0 -52z m55 18 c0 -22
3 -46 6 -55 4 -12 0 -16 -15 -16 -19 0 -21 6 -21 55 0 42 3 55 15 55 11 0 15
-11 15 -39z m123 -11 c12 -27 25 -50 30 -50 4 0 7 23 7 50 0 43 3 50 20 50 17
0 20 -7 20 -39 0 -41 11 -51 56 -51 14 0 22 -4 19 -10 -3 -5 -42 -10 -86 -10
-46 0 -79 4 -79 10 0 14 -36 13 -60 -2 -31 -20 -35 -1 -10 52 31 67 54 67 83
0z m-4282 16 c46 -19 63 -40 238 -280 135 -186 151 -212 151 -248 0 -51 -29
-93 -75 -108 -30 -10 -50 -8 -136 14 -55 14 -104 26 -109 26 -6 0 -10 -37 -10
-85 l0 -85 -310 0 -310 0 0 85 c0 67 -3 85 -14 85 -8 0 -57 -11 -108 -25 -96
-26 -133 -26 -175 2 -28 18 -47 74 -38 113 7 31 260 387 324 454 59 63 71 65
317 66 169 0 229 -3 255 -14z m4403 -388 c8 -13 8 -23 0 -35 -11 -17 -111 -18
-1849 -21 -1350 -1 -1841 1 -1851 9 -19 16 -17 46 4 58 11 7 618 10 1851 8
1734 -2 1834 -3 1845 -19z" />
                  <path d="M2565 990 c-3 -5 -1 -10 4 -10 6 0 11 5 11 10 0 6 -2 10 -4 10 -3 0
-8 -4 -11 -10z" />
                  <path d="M2730 991 c0 -34 10 -44 35 -35 25 10 16 58 -12 62 -20 3 -23 -1 -23
-27z" />
                  <path d="M3177 1013 c-13 -13 -7 -51 10 -57 23 -9 47 17 38 43 -6 20 -34 28
-48 14z" />
                  <path d="M3590 1005 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11
0 -20 -7 -20 -15z" />
                  <path d="M3727 1013 c-13 -13 -7 -51 10 -57 23 -9 47 17 38 43 -6 20 -34 28
-48 14z" />
                  <path d="M4457 1006 c-7 -18 1 -26 25 -26 13 0 18 6 16 17 -4 22 -34 29 -41 9z" />
                  <path d="M4590 1005 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11
0 -20 -7 -20 -15z" />
                  <path d="M5127 1014 c-9 -10 2 -24 19 -24 8 0 14 7 14 15 0 15 -21 21 -33 9z" />
                  <path d="M530 767 l0 -113 56 0 c50 1 58 -2 85 -32 33 -37 37 -77 14 -122 -8
-16 -24 -34 -35 -40 -11 -6 -20 -14 -20 -18 0 -5 48 -23 106 -42 l106 -34 76
26 c42 15 90 32 106 38 l30 11 -37 30 c-44 36 -56 82 -34 126 24 46 45 58 106
59 l56 1 3 111 c2 86 0 112 -10 112 -7 -1 -78 -22 -158 -49 l-145 -48 -145 49
c-79 26 -148 48 -152 48 -4 0 -8 -51 -8 -113z" />
              </g>
          </svg>
      </div>
